{% extends "customer\\layout.html" %}
{% block title %}
CUSTOMER LOGIN
{% endblock%}
{% block body %}
<div>
    <a href="{% url 'taview'%}"><button class="back">Back</button></a><br>
    <h1>LOGIN:CUSTOMER</h1>
    <form action="{% url 'customer_login' %}" method="post">
        {% csrf_token %}
        <input class="box1" type="text" name="username" placeholder="username"><br><br>
        <input class="box1" type="password" name="password" placeholder="password"><br><br>
        {% if message %}
            <p class="invalid">
                {{message}}
            </p>
        {% endif%}
        <br>

        <input class='loginbox' type="submit" value="Login"><br><br>
    </form>
    <a href= "{% url 'register' %}">Sign Up as Customer</a><br><br><br>
    
</div>
{% endblock %}