{% extends "customer\\layout.html" %}
{% block title %}
YOUR PROFILE
{% endblock%}
{% block body %}

<div>
    <h1>Your Profile : Customer</h1>
    <ul>
        <li>Name: {{ request.user.firstname }} {{ request.user.lastname }} <br><br></li>
        <li>Username: {{ request.user.username }} <br><br></li>
        <li>Email: {{ request.user.email }} <br><br></li>

    </ul>

    <button class="shop">SHOP</button></a><br><br>
    <a class="logoutt" href="{% url 'customer_logout' %}">Logout</a><br><br><br><br>

    {% endblock %}
</div>