{% extends "customer/layout.html" %}
{% block title %}
YOUR PROFILE
{% endblock%}
{% block body %}

<div class="box-body">
    <h1>Your Profile : Customer</h1>
    <div style="font-size: 30px;">
        <div>
            <label>Name: </label>
            {{ request.user.first_name }} {{ request.user.last_name }}
        </div>
        
        <div>
            <label>Username: </label>
            {{ request.user.username }}
        </div>
        
        <div>
            <label>Email: </label>
            {{ request.user.email }}
        </div>
        
        <div>
            <label>Address: </label>
            {{ customer.address }}, {{ customer.city }}, {{ customer.state }}, {{ customer.zip }}
        </div>
        
        <div>
            <label>Phone: </label>
            {{ customer.phone }}
        </div><br><br>
    </div>

    <a href="{% url 'talard' user.id %}"><button class="shop">SHOP</button></a><br><br>
    <a class="logoutt" href="{% url 'customer_logout' %}">Logout</a><br><br><br><br>

    {% endblock %}
</div>