{% extends "customer/layout.html" %}
{% block title %}
CUSTOMER REGISTER
{% endblock%}

{% block body %} 

<div>
	<h1>Register</h1>
	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %} 
		<input class="box1" type="text" name="username" placeholder="username"><br><br>
        <input class="box1" type="text" name="firstname" placeholder="firstname"><br><br>
        <input class="box1" type="text" name="lastname" placeholder="lastname"><br><br>
        <input class="box1" type="text" name="email" placeholder="email"><br><br>
        <input class="box1" type="text" name="address" placeholder="address"><br><br>
        <input class="box1" type="password" name="password" placeholder="password"><br><br>               
		<button type="submit">Register</button>
	</form>
    {% endblock %}
</div>

