{% extends "seller\\layout.html" %}
{% block title %}
Seller Profile
{% endblock%}
<div>
    {% block body %}
    <h1>Your Profile</h1>
    <ul>
        <p3>Name: {{ request.user.first_name }} {{ request.user.last_name }} <br><br></p3>
        <p3>Username: {{ request.user.username }} <br><br></p3>
        <p3>Email: {{ request.user.email }} <br><br></p3>

    </ul>
    <a href="{% url 'myshop_index' sid %}">See my shop</a><br><br><br><br>
    <a ID="logoutt" href="{% url 'seller_logout' %}">Logout</a><br><br><br><br>

    {% endblock %}
</div>