{% extends "seller\\layout.html" %}
{% block title %}
Seller Profile
{% endblock%}
{% block body %}

<div class="conbox">
    <h1>Your Profile : Seller</h1>
    <ul>
        <p3>Name: {{ request.user.first_name }} {{ request.user.last_name }} <br><br></p3>
        <p3>Username: {{ request.user.username }} <br><br></p3>
        <p3>Email: {{ request.user.email }} <br></p3>

    </ul>

    <a href="{% url 'myshop_index' sid %}"><button class="myshopbutton">MY SHOP</button></a><br><br>
    <a class="logoutt" href="{% url 'seller_logout' %}">Logout</a><br><br><br>
</div>
    

{% endblock %}