{% extends "seller\\layout.html" %}
{% block title %}
Seller Profile
{% endblock%}
{% block body %}

<div>
    <h1>Your Profile : Seller</h1>
    <ul>
        <p3>Name: {{ request.user.first_name }} {{ request.user.last_name }} <br><br></p3>
        <p3>Username: {{ request.user.username }} <br><br></p3>
        <p3>Email: {{ request.user.email }} <br><br></p3>

    </ul>

    <a ID="logoutt" href="{% url 'seller_logout' %}">Logout</a>
    <button class="myshopbutton">MY SHOP</button><br><br>
</div>

{% endblock %}