{% extends 'myshop/layout.html' %}
{% block body %}
<div class="temp">
    <p class="back"><a>Back</a></p><br>
    <h1>Edit Product</h1>

        <form method = "post" enctype="multipart/form-data">
            <div class="addsh">{% csrf_token %}
            {{ form.as_p }}</div>    
            <!-- <input class="box1" type="text" name="product_name" placeholder="product name"><br><br>
            <input class="box1" type="text" name="price" placeholder="price"><br><br>
            <input class="box1" type="text" name="count" placeholder="count"><br><br>
            <input class="box1" type="text" name="product_im" placeholder="product_im"><br><br> -->
            <button type="submit">Edit</button><br><br>
        </form>
</div>
{% endblock body %}