{% extends 'myshop/layout.html' %}
{% block body %}
<div class="conbox">
    <div class="back">
        <a href= "{% url 'seller_index' sid %}"><p>Back</p></a>
    </div>
    <br><br>
    <h1>My Shop List</h1>
    <div class="previewtalardbox"></div>
    <ul>
    {% for s in shop %}
    <div class="previewtalardbox">
        <li>
            <body>
            <a href= "{% url 'myshop' s.id %}">
                {{ s }}
            </a>
            <br><img src="{{ s.shop_im.url }}" class="shopimg">
            {{ s.ex_interact }}
            </body>
            <a href= "{% url 'delshop' s.id %}"
                onclick="
                if (confirm('Are you sure to remove your shop?')){
                    return true;
                }
                else{
                    event.stopPropagation();
                    event.preventDefault();
                };"
                class="remove">remove</a>
        </li>
    </div>
    {% empty %}
        <li>NO SHOP</li>
    {% endfor %}<br><br>
    </ul>
    <a class="logoutt" href="{% url 'seller_logout' %}">Logout</a><br><br><br>
    
</div>

<div class="temp conbox"><br>
    <h>ADD SHOP</h>
    <form method = "post" enctype="multipart/form-data">
        <div class="addsh">{% csrf_token %}
        {{ form.as_p }}</div>
        <button type="submit">ADD</button>
    </form><br>
</div>
<br><br>

{% endblock body %}