{% extends 'myshop/layout.html' %}
{% block body %}
<div>
    <h1>My Shop List</h1>
    <ul>
    {% for s in shop %}
        <li>
            <a href= "{% url 'myshop' s.id %}">
                {{ s }}
            </a>
            <a href= "{% url 'delshop' s.id %}"
                onclick="
                if (confirm('Are you sure to remove your shop?')){
                    return true;
                }
                else{
                    event.stopPropagation();
                    event.preventDefault();
                };"
                class="remove">remove</a>
        </li>
    {% empty %}
        <li>NO SHOP</li>
    {% endfor %}<br><br>
    </ul>
    <a class="logoutt" href="{% url 'seller_logout' %}">Logout</a><br><br>
    
</div>

<div class="temp">
    <h>ADD SHOP</h>
    <form method = "post" enctype="multipart/form-data" class="addsh">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ADD</button>
    </form>
</div>

{% endblock body %}