{% extends 'myshop/layout.html' %}
{% block body %}
<div class="divproduct">
<h1>My Product</h1>
<ol>
    {% for p in product %}
    <li class="listpro">
        <img src="{{ p.product_im.url }}" style="width: 200px; height:200px;">
        Product: {{ p.product_name }}<br>
        Price: {{ p.price }}<br>
        Count: {{ p.count }}<br>
        <a href="{% url 'editprod' shop_id p.id %}" class="editpro">edit</a>
        <a href="{% url 'delprod' shop_id p.id %}" onclick="
        if (confirm('Are you sure to remove your product?')){
            return true;
        }
        else{
            event.stopPropagation();
            event.preventDefault();
        };" class="removepro">remove</a>
    </li>
    
    {% empty %}
    <ul><li>No Product</li></ul>
    {% endfor %}<br><br>
    <li class="listpro">Add product
        <form method = "post" enctype="multipart/form-data" class="addpro">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add</button>    
        </form>
    </li>
</ol>

</div>
{% endblock body %}