{% extends "myshop/layout_shop.html" %}
{% block body%}
    <div>
        
        <div class="delq">
            <p1>QUEUE : {{shop.addqueue.get.round_queue}}</p1>
            <a href="{% url 'delqueue' shop.id %}" class="delqueue"
            onclick="
                if (confirm('Are you sure to cancle queue?')){
                    return true;
                }
                else{
                    event.stopPropagation();
                    event.preventDefault();
                };">CANCLE QUEUE</a>
        <div class="backq">
            <a href="{% url 'myshop' shop.id %}">Back</a>
        </div>
        </div>
        <div id="ald">   
        {% if message %}
            {{message}}<br>
        {% endif %}
        </div>

        </div>  
            {% for r in round %}
                <li class="queueround">
                    {% if r.round_queue == 0 %}
                        <div class="round">{{ r }}</div>
                        <div class="dateq">{{ r.start }} - {{ r.expire }}</div>
                        <div style="font-family: Caveat;">Numbers of shop: {{ r.bumber }}<br>
                        Expire: {{ r.expire|timeuntil }}</div>
                    {% else %}
                    <div class="round">{{ r }}</div><br>
                    <div class="dateq">{{ r.start }} - {{ r.expire }}</div>
                    <div style="font-family: Caveat;">Numbers of shop: {{ r.bumber }}<br>
                    Expire: {{ r.expire|timeuntil:r.start }}</div>
                    {% endif %}
                    <div class="listq">
                        <p1>QUEUE</p1><br>
                        {% for s in r.shop.all %}
                            {{ s }}<br>
                        {% endfor %}
                        <br>
                        <a href="{% url 'addqueue' shop.id r.id %}" class="addq">ADD QUEUE</a> <br>
                        <br>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}