{% extends "myshop/layout_shop.html" %}
{% block body%}
    <div>
        <div class="backq">
            <p2>Back</p2>
        </div>
        <div class="delq">
            <p1>YOUR QUEUE: </p1>
        <a href="{% url 'delqueue' shop.id %}" class="delqueue"
        onclick="
                if (confirm('Are you sure to cancle queue?')){
                    return true;
                }
                else{
                    event.stopPropagation();
                    event.preventDefault();
                };">CANCLE QUEUE</a>
        <br>
        <div id="ald">   
        {% if message %}
            {{message}}<br>
        {% endif %}
        </div>

        </div>  
            {% for r in round %}
                <li class="queueround">
                    {% if r.round_queue == 0 %}
                        <div class="round">{{ r }}</div>
                        <div class="dateq">{{ r.start }} - {{ r.expire }}</div>
                        Numbers of shop: {{ r.bumber }}<br>
                        Expire: {{ r.expire|timeuntil }}
                    {% else %}
                    <div class="round">{{ r }}</div><br>
                    <div class="dateq">{{ r.start }} - {{ r.expire }}</div>
                    Numbers of shop: {{ r.bumber }}<br>
                    Expire: {{ r.expire|timeuntil:r.start }}
                    {% endif %}
                    <div class="listq">
                        <p1>QUEUE</p1><br>
                        {% for s in r.shop.all %}
                            {{ s }}<br>
                        {% endfor %}
                        <br>
                        <a href="{% url 'addqueue' shop.id r.id %}" class="addq">ADD QUEUE</a> <br>
                        <br>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}