{% extends "myshop/layout_shop.html" %}
{% block body%}
    <div>
        <a href="{% url 'delqueue' shop.id %}">cencle queue</a><br>
        {% if message %}
            {{message}}<br>
        {% endif %}
        {% for r in round %}
            {% if r.round_queue == 1 %}
            {{ r }} Time:{{ r.start }} - {{ r.expire }} Numbers of shop: {{ r.bumber }} Expire: {{ r.expire|timeuntil }}
            {% else %}
            {{ r }} Time:{{ r.start }} - {{ r.expire }} Numbers of shop: {{ r.bumber }} Expire: {{ r.expire|timeuntil:r.start }}
            {% endif %}
            <a href="{% url 'addqueue' shop.id r.id %}">add queue</a> <br>
            {% for s in r.shop.all %}
                {{ s }}<br> 
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}