{% extends "myshop/layout_shop.html" %}
{% block body%}

<div>
    <a href= "{% url 'myshop_index' seller %}" class="backtolist"><u>Back to My shop List</u></a>
    <h1>{{ shop.name }}</h1>
    <p>ID:{{ shop.id }} Queue: {{ queue }}</p>

    <table>
        <tr>
            <th width="60%" ID="firstcell"><div class="myproductpic"><a href="{% url 'product' shop.id %}"><div class="invibox4">PRODUCT</div></a></div><br><br>
                <table><tr>
                    <th><div class="editpic"><a href="{% url 'edit' shop.id%}"><div class="invibox2">EDIT</div></a></div></th>
                    <th><div class="myreviewpic"><a href="{% url 'myreview' shop.id%}"><div class="invibox3">REVIEW</div></a></th>
                </tr>
                </table>
            </th>

            <th class="myshoppic"><a href="#"><a href="{% url 'queue' shop.id %}"><div class="invibox">ADD QUEUE</div></a></th>
        </tr>
    </table>

    <h2>Order</h2>
    <div class="orderbox">
        <ul class="orderlist">
            <h3>Already Paid</h3>
            {% for o in order %}
                {% if o.confirmpay == "paid" and o.confirmrecieved != "recieved" %}
                    <li>
                        Date: {{o.date}} Shop: {{ o.shop }} Product: {{ o.prod }} Count: {{ o.count }} Price: <a id='n'>{{ o.price }}</a>
                    </li>
                {% endif %}
            {% empty %}
            <li>No order.</li>
            {% endfor %}

            <h3>New Order</h3>
            {% for o in order %}
                {% if o.confirmpay != "paid" %}
                    <li>
                        Date: {{o.date}} Shop: {{ o.shop }} Product: {{ o.prod }} Count: {{ o.count }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <h3>Recieved Order</h3>
                {% for o in order %}
                    {% if o.confirmrecieved == "recieved" %}
                        <li>
                            Date: {{o.date}} Shop: {{ o.shop }} Product: {{ o.prod }} Count: {{ o.count }} Price: <a id='n'>{{ o.price }}</a>
                        </li>
                        {% endif %}
                {% endfor %}
        </ul> </div>
    </div>
    <br><br>
</div>
{% endblock %}