{% extends "myshop/layout_shop.html" %}
{% block body%}

<div>
    <h1>{{ shop.name }}</h1>
    <p>ID:{{ shop.id }} Expire: {{ shop.expire }}</p>
    <table>
        <tr>
            <th width="60%" ID="firstcell"><div class="myproductpic"><a href="{% url 'product' shop.id %}"><div class="invibox4"></div></a></div><br><br>
                <table><tr>
                    <th><div class="myshoppic"><a href="{% url 'myshop_index' seller%}"><div class="invibox2"></div></a></div></th>
                    <th><div class="myreviewpic"><a href="{% url 'myshop_index' seller%}"><div class="invibox3"></div></a></th>
                </tr>
                </table>
            </th>

            <th class="interactpic"><a href="{% url 'myshop_index' seller%}"><div class="invibox"></div></a></th>
        </tr>
    </table>

    <br><br>
    <a href= "{% url 'edit' shop.id %}"><u>Edit</u></a>
    <a href= "{% url 'myshop_index' seller %}" class="backtolist"><u>Back to My shop List</u></a>
</div>
{% endblock %}