{% extends "myshop/layout_shop.html" %}
{% block body%}

<div>
    <h1>{{ shop.id }} Shop: {{ shop.name }} expire: {{ shop.expire }}</h1>
    <table>
        <tr>
            <th><a href="{% url 'product' shop.id %}"><button class="myshopb">Product</button></a><br><br>  
                <a href="{% url 'myshop_index' seller%}"><button>My shop</button></a>
                <a href="{% url 'myshop_index' seller%}"><button>Review</button></a></th>
            <th class="interactpic"><a href="{% url 'myshop_index' seller%}"><div class=invibox></div></a></th>
        </tr>
    </table>


    <br><br>
    <a href= "{% url 'myshop_index' seller %}" class="backtolist"><u>Back to My shop List</u></a>
</div>
{% endblock %}