{% extends 'talard/layout.html' %}
{% block body %}

<div>
    <h1>ABOUT US</h1>
    <hr>
    <div class="w3-container" style="padding:50px 16px" id="team">
        <h3 class="w3-center">TEAM MEMBERS</h3>
        <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <img src="https://ih1.redbubble.net/image.3097733160.7312/mp,504x498,matte,f8f8f8,t-pad,600x600,f8f8f8.jpg" alt="Mafuang" style="width:100%">
              <div class="w3-container">
                <h3>Chawanrat Sabenjapakin</h3>
                <p class="w3-opacity">6310611014</p>
                <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <img src="https://ih1.redbubble.net/image.3062239129.7199/mp,504x498,matte,f8f8f8,t-pad,600x600,f8f8f8.jpg" alt="Munin" style="width:100%">
              <div class="w3-container">
                <h3>Munin Wutthipongworakit</h3>
                <p class="w3-opacity">6310682601</p>
                <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <img src="https://ih1.redbubble.net/image.3097740580.7497/mp,504x498,matte,f8f8f8,t-pad,600x600,f8f8f8.jpg" alt="Kem" style="width:100%">
              <div class="w3-container">
                <h3>Kemika Weerakulwatana</h3>
                <p class="w3-opacity">6310682619</p>
                <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <img src="https://ih1.redbubble.net/image.3062380112.0941/mp,504x498,matte,f8f8f8,t-pad,600x600,f8f8f8.jpg" alt="Run" style="width:100%">
              <div class="w3-container">
                <h3>Runchana Supasavate</h3>
                <p class="w3-opacity">6310682650</p>
                <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <a href="https://github.com/6310682619/cn331-Talardnat">
        <input type="image" class="imgbtn" src="https://i.imgur.com/TOmcZIp.jpg" />
    </a><br><br>
    <a href="https://www.pivotaltracker.com/n/projects/2606902">
        <input type="image" class="imgbtn" src="https://i.imgur.com/T1mHW9z.jpg" />
    </a>

</div>

{% endblock %}