{% extends 'talard/layout.html' %}
{% block body %}
<div>
    <h1>Talard</h1>
    <a href="{% url 'talard'%}"><button class="back">Back</button></a><br>
    <ul>
    {% for c in allshop %}
    {% if c.category == category %}
        <li>
            <a href= "{% url 'thisshop' u_id c.id %}">
                {{ c }}
            </a>
        </li>
    {% endif %}
    {% endfor %}

    {% for x in allshop %}
    {% if x.category != category %}
        <li>
            <a href= "{% url 'thisshop' u_id x.id %}">
                {{ x }}
            </a>
        </li>
    {% endif %}
    {% endfor %}
    </ul>
    <a class="logout" href="{% url 'customer_logout' %}">Logout</a><br><br>
</div>
{% endblock body %}