{% extends 'talard/layout_talard.html' %}
{% block body %}
<div class="outer-wrapper">
    <div class="wrapper">
        <a href="{% url 'talard' u_id %}"><button class="back">Back</button></a>
        
        <div class="slide">
            <h1>Talard</h1>
            {% for c in allshop %}
            {% if c.category == category %}
                <div class="talardbox">
                    <a href= "{% url 'thisshop' u_id c.id %}">
                        {{ c }}
                    </a>
                </div>
            {% endif %}
            {% endfor %}
            
            {% for x in allshop %}
            {% if x.category != category %}
                <div class="talardbox">
                    <a href= "{% url 'thisshop' u_id x.id %}">
                        {{ x }}
                    </a>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    <a class="logout" href="{% url 'customer_logout' %}">Logout</a><br><br>
    </div>
</div>
{% endblock body %}