{% extends 'talard/layout.html' %}
{% block body %}
<div class="bgfoodandutencil">
    <!--<h1>Talard</h1>-->
    <br><br><br><br><br><br><br><br><br><br>
    <ul>
        <div class = "c">
        <a href= "{% url 'allshop' 'food' u_id%}"><button class="spb a-button catagory">
            food
        </button></a>
        
        <a href= "{% url 'allshop' 'utensil' u_id%}"><button class="spb a-button catagory">
            utensil
        </button></a>
        </div>
        <br><br>
    </ul>
</div>

<div class="dropup bottomleft">
    <button class="dropbtn"><i class="fas fa-cookie-bite"></i></button>
    <div class="dropup-content">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'about' %}">About us</a>
      <a href="{% url 'rateus' %}">Rate us</a>
      <a href="{% url 'customer_logout' %}">Log out</a>
    </div>
  </div>
{% endblock body %}