{% extends 'talard/layout.html' %}
{% block body %}
<div class="bgfoodandutencil">
    <h1>Talard</h1>
    <br><br><br><br><br><br>
    <ul>
        <div class = "c">
        <a href= "{% url 'allshop' 'food' %}"><button class="spb a-button catagory">
            food
        </button></a>
        
        <a href= "{% url 'allshop' 'utensil' %}"><button class="spb a-button catagory">
            utensil
        </button></a>
        </div>
    
    </ul>
    <a class="logout" href="{% url 'customer_logout' %}">Logout</a><br><br>
</div>
{% endblock body %}