{% extends 'talard/layout.html' %}
{% block body %}
<div class="bodytalard">
    <h1></h1>
    <img src="https://media.discordapp.net/attachments/715798345037381683/1038097672038518874/Untitled_Artwork.png?width=1440&height=264" 
    class="talardpic"><br><br>
    <div id="images2">
    <button class="spb a-button about">SHOP</button>
    <button class="spb a-button about">SELL</button><br><br>
    </div>

{% comment %} <div>
    <h1>TU TALARDNAT</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/3361/3361384.png" alt="Market" class="center"><br><br><br>
    <a href="{% url 'login'%}"><button class="center-horizontal a-button about"><b>SHOP</b></button></a>&emsp;&emsp;&emsp;
    <a href="{% url 'seller_login'%}"><button class="center-horizontal a-button about"><b>SELL</b></button></a><br><br>
    <a href="{% url 'about'%}"><button class="center-horizontal a-button about"><b>ABOUT US</b></button></a>
</div> {% endcomment %}
{% endblock %}