{% extends 'talard/layout.html' %}
{% block body %}
<div class="bodytalard">
    <h1></h1>
    <div class = "bg"></div>
    <img src="https://media.discordapp.net/attachments/715798345037381683/1038097672038518874/Untitled_Artwork.png?width=1440&height=264" 
    class="talardpic"><br><br>
    <div id="images2">

        {% if user.is_authenticated %}
            <a href="{% url 'profile' request.user.id %}"><button class="spb a-button about">SHOPPER</button></a>
            <a href="{% url 'seller_index' request.user.id %}"><button class="spb a-button about">SELLER</button></a><br><br>
        {% else %}
            <a href="{% url 'customer_login'%}"><button class="spb a-button about">SHOPPER</button></a>
            <a href="{% url 'seller_login'%}"><button class="spb a-button about">SELLER</button></a><br><br>
        {% endif %}

        <div class="aboutus">
            <a href="{% url 'about' %}"><button class="a-button about"><b>ABOUT US</b></button></a><br>
            <a href="{% url 'rateus' %}"><button class="a-button about"><b>RATE US</b></button></a>
        </div>
    </div>

    <!--code from spotify-->

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6p3tVneKzq7LOsLazlI9PX?utm_source=generator"
    width="250" height="80"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay;
    clipboard-write;
    encrypted-media;
    fullscreen;
    picture-in-picture"
    loading="lazy">
</iframe>

{% endblock %}