{% extends 'talard/layout_talard.html' %}
{% block body %}
<div>
    <a href="{% url 'talard' u_id %}"><button class="back">Back</button></a><br>
    <div class = "headbox">My order</div>
    <div class = "menubox">
        <ul class="menulist">
            <script>
                var sum = 0;
                var p;

            </script>
            <h3>New Order</h3>
            {% for o in order %}
                {% if o.confirmpay != "paid" %}
                    <li>
                        Date: {{o.date}} Shop: {{ o.shop }} Product: {{ o.prod }} Count: {{ o.count }} Price: <a id='n'>{{ o.price }}</a>
                        <script>
                            p = "{{ o.price }}";
                            sum += Number(p);
                        </script>
                        <a href="{% url 'delorder' u_id o.id %}">remove</a>
                    </li>
                {% endif %}
            {% endfor %}
            Total:
            <script>
                document.write(sum);
            </script>
        </ul>
    </div>
    <br><br>

    <div class= "menubox" id="pay">
        <h3>Pay</h3>
        <form action="{% url 'order' u_id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              <label>Card Number</label>
              <input name="card-number" type="text" required>
            </div>
            <div>
              <label>Card Verification Value</label>
              <input name="name" type="text" placeholder="CVV" required>
            </div>
            <div>
              <label>Expiry Date</label>
              <input name="card-number" type="text" placeholder="MM/YY" maxlength="3" required>
            </div>
            
            <input type="submit" value="submit" class="submit">
          </form>
    </div>

    <div class= "menubox">
    <h3>Carry Out</h3>
        {% for o in order %}
            {% if o.confirmpay == "paid" and o.confirmrecieved != "recieved" %}
                <li>
                    Date: {{o.date}} Shop: {{ o.shop }} Product: {{ o.prod }} Count: {{ o.count }} Price: <a id='n'>{{ o.price }}</a>
                </li>
                <a href="{% url 'recieved' u_id o.id %}">recieved</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class= "menubox">
    <h3>Finished</h3>
        {% for o in order %}
            {% if o.confirmrecieved == "recieved" %}
                <li>
                    Date: {{o.date}} Shop: {{ o.shop }} Product: {{ o.prod }} Count: {{ o.count }} Price: <a id='n'>{{ o.price }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </div>
    <a class="logout" href="{% url 'customer_logout' %}">Logout</a><br><br>
</div>

{% endblock body %}
