{% extends 'talard/layout_talard.html' %}
{% block body %}
<div>
    <button onclick="history.back()" class="back">Back</button><br>
    <div class = "headbox"><b>My order</b></div><br>
    <div class = "menubox" style="width: 840px;">
        <h3 style="font-size: 40px;">Shopping Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></h3>
        <script>
            var sum = 0;
            var p;
        </script>
        {% for o in order %}
            {% if o.confirmpay != "paid" %}
            <table class="menulist" style="border-radius: 8px; width: 820px; margin-left: auto; margin-right: auto;"> 
                <tr>
                    <th>Shop</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Order Date</th>
                    <th>Actions </th>
                </tr>
                    <tr>
                        <td>{{ o.shop }}</td>
                        <td>{{ o.prod }}</td>
                        <td>{{ o.count }}</td>
                        <td><a id='n'>{{ o.price }}</a></td>
                        <td>{{o.date}}</td>
                        <td><a href="{% url 'delorder' u_id o.id %}"><button class="myorder" style="width: auto; height: auto; font-size: 25px; font-weight: normal; border: 2px black solid;">remove</button></a></td>
                        <script>
                            p = "{{ o.price }}";
                            sum += Number(p);
                        </script>
                    </tr>
            {% endif %}
        {% endfor %}
        </table>
        <p> 
            <script>
                if(sum == 0){
                    document.write("No orders yet");
                }
            </script>
        </p><br>
        <div class="total">
            <p>Total: 
                <script>
                    document.write(sum);
                </script> Baht
            </p>
        </div>
    </div>
    <br>

    <button class="myorder" onclick="document.getElementById('checkout').style.display='block'" style="border: solid 4px; font-size: 42px;">Check Out</button>

    <div id="checkout" class="modal">
        <span onclick="document.getElementById('checkout').style.display='none'" class="close" title="Close">&times;</span>
        <form class="modal-content" action="{% url 'order' u_id %}" method="POST" enctype="multipart/form-data">
            <div style="padding: 16px;">
                <h3 style="text-align: center; font-size: 40px;">Check Out</h3>
                <div style="text-align: justify; display: flex; justify-content: center;"></div>
                {% csrf_token %}
                <div>
                    <label style="margin-bottom: 1px; font-size: 25px;">Card Number</label><br>
                    <input name="card-number" type="text" required>
                </div>
                <div>
                    <label style="margin-bottom: 1px; font-size: 25px;">Card Verification Value</label><br>
                    <input name="name" type="text" placeholder="CVV" required>
                </div>
                <div>
                    <label style="margin-bottom: 1px; font-size: 25px;">Expiry Date</label><br>
                    <input name="card-number" type="text" placeholder="MM/YY" maxlength="3" required>
                </div><br>

                <input type="submit" value="submit" class="submit" style="font-size: 30px; margin-bottom: 50px;">
            </div>
        </form>  
    </div>

    <script>
        var modal = document.getElementById('checkout');
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display='none';
          }
        }
    </script>
    <hr style="border: 1px solid #00000060; margin-bottom: 70px; margin-top: 70px;">

    <h3 style="font-size: 40px;">Status</h3>
    <div class= "menubox" style="width: 840px;">
        <div class="box-review">
            <h3 style="font-size: 40px;">Carry Out</h3>
            <script>
                var n = 0;
            </script>
            {% for o in order %}
                {% if o.confirmpay == "paid" and o.confirmrecieved != "recieved" %}
                    <table class="menulist" style="border-radius: 8px; width: 800px; margin-left: auto; margin-right: auto;">
                        <tr>
                            <th>Shop</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Order Date</th>
                            <th>Actions </th>
                        </tr>
                            <tr>
                                <td>{{ o.shop }}</td>
                                <td>{{ o.prod }}</td>
                                <td>{{ o.count }}</td>
                                <td><a id='n'>{{ o.price }}</a></td>
                                <td>{{o.date}}</td>
                                <td><a href="{% url 'recieved' u_id o.id %}">recieved</a>
                            </tr>     
                    <script>
                        n += 1;
                    </script>
                {% endif %}
            {% endfor %}
            </table>
            <p> 
                <script>
                    if(n == 0){
                        document.write("No orders yet");
                    }
                </script>
            </p>
            <br>
        </div>
        
    </div>

    <div class= "menubox" style="width: 840px;">
        <div class="box-review">
            <h3 style="font-size: 40px;">Finished</h3>
            <script>
                var n = 0;
            </script>
            {% for o in order %}
                {% if o.confirmrecieved == "recieved" %}
                    <li class="listpro">
                        Product: {{ o.prod }}<br> 
                        Shop: {{ o.shop }}<br>
                        Quantity: x{{ o.count }} &nbsp; Price: <a id='n'>{{ o.price }}</a><br>
                        Order on: {{o.date}}   
                    </li>
                    <script>
                        n += 1;
                    </script>
                {% endif %}
            {% endfor %}
            <p> 
                <script>
                    if(n == 0){
                        document.write("No orders yet");
                    }
                </script>
            </p>
        </div>
    </div>
    <a class="logout" href="{% url 'customer_logout' %}">Logout</a><br><br>
</div>

{% endblock body %}
